body.visitor-1 #logo {
	width:422px;
	height:70px;
	background: url(../images/interracialdating-logo-421x61.png) no-repeat;
}

body.visitor-1 #logo a {
	display: inline-block;
	width:422px;
	height:70px;
}

body.visitor-1 #logo {
	top:160px;
	left:540px;
}

#logo span {
	bottom:4px;
	left:90px;
	font-size: 14px;
	text-align: left;
}